.user {
    margin-left: 0.5rem;
    position: relative;
}

.user h3 {
    display: inline-block;
}

.user p {
    display: inline;
}

.user button {
    position: absolute;
    right: 0.5rem;
    top: 0.5rem;
}
