body {
  background-color: #535c68;
}

.card {
  background-color: white;
  width: 50%;
  padding: 0.5rem;
  margin: 2rem auto;
  border-radius: 0.5rem;
}

h3 {
  display: inline-block;
}

button {
  font-weight: bold;
  margin: 0.5rem;
  background-color: #4834d4;
  color: white;
  padding: 0.5rem;
  border: none;
  border-radius: 0.5rem;
  
}
